@media only screen and (max-width: 1108px) {

  .container {
    width: 90%;
  }

}

@media only screen and (max-width: 1060px) {

  body{
    font-size: 85%;
  }

  #nav_bar {
    top: 48px;
  }


/*  #logo h1 {
    font-size: 3em;
  }

  #logo h2 {
    font-size: 1.8em;
  }*/

}

@media only screen and (max-width: 920px) {

  #logo.col-3, #nav_bar.col-9 {
    width: 100%;
    margin-left: 0;
    float: none;
  }

  #nav_bar{
    top:0;
    text-align: left;
  }


 /* #main .col-9 {
  width: 66%;
  }

  #main .col-3{
  width: 32%;
  }*/

}

@media only screen and (max-width: 900px) {

  body {
    font-size: 75%;
  } 

  #logo{
    height: 75px;
  }

 /* #logo h1 {
    font-size: 2em;
  }

  #logo h2 {
    font-size: 1.5em;
    left: 25px;
  }*/

 #main .col-5, #main .col-7 {
    width: 100%;
    margin-left: 0;
    float: none;
  }

  

}

@media only screen and (max-width: 375px) {

  .container{
    min-width: 475px;
    padding: 0 15px;
  }  

}





