/*///GOOGLE FONTS///*/

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

/*//GLOBAL SETTINGS//*/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body { 
	font-size: 100%; 
	font-family: 'Arimo', Verdana, Arial, Sans-Serif; 
	font-style: normal;
   	font-weight: 400;
   	font-color: #444;
    background-image: url("../images/confectionary.jpg");
    background-repeat: repeat;
}

.container {
	width: 960px;
	margin: 0 auto;
}

h2{
	font-family: Lobster, cursive;
	font-style: normal;
	font-weight: 400;
	color: #D96248;
	margin-bottom: 5px;
}

h3{
	font-family: Lobster, cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.1em;
	color: #403F37;
}

p {
	margin-bottom: 2%;
}

img {
	border: 2px solid #004248;
	height: 100%;
}

/*////HEADER/////*/

header{
	font-family: Lobster, cursive;
	font-style: normal;
	font-weight: 400;
	padding-top: 20px;
	border-bottom: 1px dotted #c9c3ba;
	z-index: 2;
}


#logo {
	height: 100px;
}


#logo h1{
	 font-size: 4em;
	 line-height: 73px;
	 color: #004248;
	 
}

#logo h2{
	font-size: 2em;
	line-height: 2.15em;
	color: #008895;
	position: relative;
	top: -30px;
	left: 70px;
	z-index: 1;
	
}

header.row {
	margin-bottom: 0;
}

/*///NAV BAR///*/

#nav_bar {
  position: relative;
  top: 45px;
  z-index: 2;
  text-align: right;
}

/*////TABS////*/


ul#tabs { 
	list-style-type: none; 
	margin: 30px 0 0 0; 
	padding: 0 0 0.3em 0; 

}

ul#tabs li { 
	display: inline; 
}

ul#tabs li a { 
	color: #42454a;  
	border: 1px dotted #c9c3ba; 
	border-bottom: none;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px; 
	padding: 0.3em; 
	text-decoration: none; 
	background-color: #f1f0ee;
}

ul#tabs li a:hover { 
	background-color: ; 
}

ul#tabs li a.selected { 
	color: #000; 
	background-color: #fff; 
	font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; 
}

div.tabContent {  
	padding: 0.5em; 
	background: white; 
}

div.tabContent.hide { 
	display: none; 
}



/*///MAIN FEATURES///*/

#main {
	padding-top: 15px;
	background: #fff;
}

.sect_head {
	margin: 0 0 15px 15px;
}

.prompt {
	border-top: 1px dotted #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

.login {
	border: 1px dotted #ccc;
	padding: 10px;
	margin: 0 20px 0 0;
}

h2.genre {
	margin: 0 0 15px 15px;
	font-size: 2em;
	color: #004248;
}

/*///FORM///*/

input, textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0 3px 5px #ccc;
  border: 1px solid #ccc;
}

input[type="submit"] {
  margin-top: 5px;
  width: 100%;
  background: #004248;
  color: white;
  border-radius: 25px;
  border: 0;
}

input[type="submit"]:hover {
  background: #555;
}

input.error, textarea.error {
  border: 1px solid red;
}

span.error {
  display: none;
  color: red;
}

input.verify-box {
  display: inline-block;
  width: 78%;
  margin-right: 2%;
}

img.verify-img {
  display: inline-block;
  width: 50px;
  height: 30px;
  vertical-align: bottom;
  margin-bottom: 3px;
}

/*///FOOTER///*/

footer {
  text-align: center;
  color: #fff; 
  font-size: 0.75em;
  padding: 10px;
  background: #42454a;
  border-top: 1px dotted #c9c3ba; 
  position: fixed;
  bottom: 0; 
  width: 100%;
}

/*///MEDIA///*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}


/*//////Column Structure//////*/

.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.row {
  clear: both;
  margin-bottom: 2%;
}

[class*="col-"] {
  float: left;
  margin-left: 2%;
}

[class*="col-"]:first-child {
  margin-left: 0;
}

.col-1  { width: 6.5%;  }
.col-2  { width: 15%;   }
.col-3  { width: 23.5%; }
.col-4  { width: 32%;   }
.col-5  { width: 40.5%; }
.col-6  { width: 49%;   }
.col-7  { width: 57.5%; }
.col-8  { width: 66%;   }
.col-9  { width: 74.5%; }
.col-10 { width: 83%;   }
.col-11 { width: 91.5%; }
.col-12 { width: 100%;  }

